<%= simple_form_for(@submitted_template_field) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :document_submission %>
    <%= f.association :template_field %>
    <%= f.input :value %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
