<h1>Listing submitted_template_fields</h1>

<table>
  <thead>
    <tr>
      <th>Document submission</th>
      <th>Template field</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submitted_template_fields.each do |submitted_template_field| %>
      <tr>
        <td><%= submitted_template_field.document_submission %></td>
        <td><%= submitted_template_field.template_field %></td>
        <td><%= submitted_template_field.value %></td>
        <td><%= link_to 'Show', submitted_template_field %></td>
        <td><%= link_to 'Edit', edit_submitted_template_field_path(submitted_template_field) %></td>
        <td><%= link_to 'Destroy', submitted_template_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submitted template field', new_submitted_template_field_path %>
