<%= simple_nested_form_for(@template) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs large-12 columns">
      <%= f.input :name %>
      <%= f.input :content, input_html: { rows: 10 } %>
    </div>
    <div class="large-12 columns">
      <div class="form-actions">
        <%= f.button :submit, class: "secondary-btn"%>
      </div>
      <h2><%= t(:template_attributes) %></h2>
    </div>
  </div>
  <div class="row">
    <div id="field-wrapper">
      <%= f.fields_for :template_fields do |template_fields_form| %>
        <div class="large-6 columns">
          <div class="panel">
            <%= template_fields_form.link_to_remove class: "right close-icon" do %>
              <i class="remove-icon"></i>
            <% end %>
            <%= template_fields_form.input :name %>
            <%= template_fields_form.input :label %>
            <%= template_fields_form.input :default_value %>
            <%= template_fields_form.input :presentation, collection: TemplateField::VALID_PRESENTATIONS, include_blank: false, input_html: { class: "presentation" } %>
            <%= render 'available_options', template_fields_form: template_fields_form %>
            <%= render 'range', template_fields_form: template_fields_form %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="large-6 columns" id="add-panel">
      <div class="panel">
        <div class="row collapse">
          <div class="small-10 columns">
            <input id="attr-name" type="text" placeholder="<%= t(:attribute_name) %>" />
          </div>
          <div class="small-2 columns">
            <%= f.link_to_add :template_fields, data: { target: "#field-wrapper" }, class: "button postfix" do %>
              <i class="fi-plus"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
