<% @templates.each do |template| %>
  <li class='list-row <%= cycle('even', 'odd') %>'>
    <div class='row-container row'>
      <div class='row-content large-9 columns'>
        <div class='row'>
          <div class='large-1 columns'>
            <div class='template-name'>
              <%= template.id %>
              <p><%= ::Template.human_attribute_name('id') %></p>
            </div>
          </div>
          <div class='large-8 columns template-name'>
            <div class='template-type'>
              <%= template.name %>
              <p><%= ::Template.human_attribute_name('name') %></p>
            </div>
          </div>
          <div class='large-3 columns '>
            <div class='template-type'>
              <p><%= template.template_package? ? t(:'template_pack') : t(:'template') %></p>
              <p><%= ::Template.human_attribute_name('template_type') %></p>
            </div>
          </div>
        </div>
      </div>
      <div class='row-actions large-3 columns'>
        <ul class='button-group right'>
          <% if template.template_fields.any? %>
            <li><%= link_to('Fill in form', new_document_submission_url(template_id: template), class: 'generatepdf hide-text', title: 'Create PDF') %></li>
          <% else %>
            <li><%= link_to 'Generate with defaults', with_defaults_document_submissions_url(template_id: template), class: 'generatepdf hide-text', title: 'Create PDF', method: :post %></li>
          <% end %>
          <li><%= link_to 'Edit', edit_template_path(template), class: 'editpdf hide-text', title: 'Edit template' %></li>
          <li><%= link_to 'Submissions', document_submissions_template_url(template), class:'history-icon hide-text', title: 'Submission History' %></li>
          <% if template.template_package? %>
            <li>
              <%= link_to 'Download Pack', template.template_pack.zip_container.url, class: 'download-icon hide-text', title: 'Download Template Pack' %>
            </li>
          <% end %>
          <li><%= link_to 'Destroy', template, method: :delete, class: 'deletepdf hide-text', title: 'Delete Template', data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
    </div>
  </li>
<% end %>
