<div class="row">
    <div class="large-12 columns">
        <h1>Listing templates</h1>
        <%= link_to 'Upload Template Pack', new_template_pack_path, class: "primary-btn" %>
        <%= link_to 'New Template', new_template_path, class: "secondary-btn" %>
        <ul class="list-wrapper">
            <% @templates.each do |template| %>
            <li class="list-row <%= cycle('even', 'odd') %>">
                <div class="row-container row">
                    <div class="row-content large-9 columns">
                        <div class="row">
                            <div class="large-1 columns template-name">
                                <%= template.id %>
                            </div>
                            <div class="large-8 columns template-name">
                                <%= template.name %>
                            </div>
                            <div class="large-3 columns ">
                                <div class="template-type">
                                    <p><%= template.template_type %></p>
                                    <p>Type</p>
                                </div>
                                <% if template.is_template_package? %>
                                  <div class="template-type">
                                      <p><%= template.template_pack.id %></p>
                                      <p>Package ID</p>
                                  </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="row-actions large-3 columns">
                        <ul class="button-group right">
                          <% if template.template_fields.any? %>
                            <%= content_tag(:li) do
                              link_to("Fill in form", new_document_submission_url(template_id: template), class: "generatepdf hide-text")
                            end %>
                            <%= content_tag(:li) do
                              link_to("Generate with defaults", with_defaults_document_submissions_url(template_id: template), class: "lasterror hide-text", method: :post)
                            end %>
                          <% else %>
                            <%= content_tag(:li) do
                              link_to("Generate", with_defaults_document_submissions_url(template_id: template), class: "generatepdf hide-text", method: :post)
                            end %>
                          <% end %>
                          <li><%= link_to 'Edit', edit_template_path(template), class: "editpdf hide-text" %></li>
                          <li><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' }, class: "deletepdf hide-text" %></li>
                          <li><%= link_to 'Submissions', document_submissions_template_url(template), class:"history-icon hide-text" %></li>
                    </div>
                </div>
            </li>
            <% end %>
        </ul>

    </div>
</div>

<%= paginate @templates %>
