<div class="row">
    <div class="large-12 columns">
        <h1 class="text-center">Listing templates</h1>
        <table class="wide">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Content</th>
                  <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            <% @templates.each do |template| %>
              <tr>
                <td><%= template.name %></td>
                <td><%= truncate template.content %></td>
                <td>
                  <ul class="button-group">
                    <%= if template.template_fields.any?
                      c = content_tag(:li) do
                        link_to("Fill in form", new_document_submission_url(template_id: template), class: "button tiny success")
                      end
                      c << content_tag(:li) do
                        link_to("Generate with defaults", with_defaults_document_submissions_url(template_id: template), class: "button tiny secondary", method: :post)
                      end
                    else
                      content_tag(:li) do
                        link_to("Generate", with_defaults_document_submissions_url(template_id: template), class: "button tiny success", method: :post)
                      end
                    end %>
                    <li><%= link_to 'Edit', edit_template_path(template), class: "button tiny secondary" %></li>
                    <li><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert tiny" %></li>
                  </ul>
                </td>

              </tr>
            <% end %>
            </tbody>
        </table>


        <%= link_to 'New Template', new_template_path, class: "button right" %>
    </div>
</div>

<%= paginate @templates %>
