<div class='row'>
  <div class='large-12 columns'>
    <h1><%= t(:template_index) %></h1>
    <div class='row'>
      <div class="large-4 columns">
        <%= form_tag templates_path, :method => 'get', :id => "template_search" do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
          </p>
        <% end %>
      </div>
      <div class='large-6 columns right'>
        <%= link_to t(:upload_template_pack), new_template_pack_path, class: 'primary-btn' %>
        <%= link_to t(:new_template), new_template_path, class: 'secondary-btn' %>
      </div>
    </div>
    <ul class='list-wrapper'>
      <div id="templates"><%= render 'templates' %></div>
    </ul>
  </div>
</div>

<%= paginate @templates %>
