<div class="bg-slider">
  <!-- Content Slider -->
  <div class="row">
    <div class="large-12 hide-for-small">
      <h1><%= t(:welcome_to_indoctrinatr) %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 column">
    <div class="row">
      <div class="large-12 columns">
        <!-- Mobile Header -->
        <div class="row">
          <div class="large-12 columns show-for-small">
            <h1><%= t(:welcome_to_indoctrinatr) %></h1>
          </div>
        </div>
        <br>

        <!-- End Mobile Header -->
        <div class="row">
          <div class="large-12 columns">
            <div class="text-center">
              <%= image_tag("indoctrinatr_grafik.png") %>
            </div>
            <div class="row">
              <!-- Column 1 -->
              <div class="large-4 small-12 columns">
                <h2><%= t(:first_step) %></h2>
              </div>

              <!-- Column 2 -->
              <div class="large-4 small-12 columns">
                <h2><%= t(:second_step) %></h2>
                <%= link_to t(:get_started_now), templates_url, class: 'primary-btn button expand' %>
              </div>

              <!-- Column 3 -->
              <div class="large-4 small-12 columns">
                <h2><%= t(:third_step) %></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
