<div class="bg-slider">
  <!-- Content Slider -->
  <div class="row">
    <div class="large-12 hide-for-small">
      <h1><%= t(:welcome_to_indoctrinatr) %></h1>
      <%= image_tag("screenshot.png") %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 column">
    <div class="row">
      <div class="large-12 columns">
        <!-- Mobile Header -->
        <div class="row">
          <div class="large-12 columns show-for-small">
            <%= image_tag("screenshot.png") %>
          </div>
        </div>
        <br>

        <!-- End Mobile Header -->
        <div class="row">
          <div class="large-12 columns">
            <%= image_tag("indoctrinatr_grafik.png") %>
            <div class="row">
              <!-- Column 1 -->
              <div class="large-4 small-12 columns">
                <h1>1. Create Latex template</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                   ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                   duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                   dolor sit amet.</p>
              </div>

              <!-- Column 2 -->
              <div class="large-4 small-12 columns">
                <h1>2. Create Latex template</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                    duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                    dolor sit amet.</p>
                <%= link_to t(:get_started_now), templates_url, class: 'primary-btn button expand' %>
              </div>

              <!-- Column 3 -->
              <div class="large-4 small-12 columns">
                <h1>3. Create Latex template</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                   ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                   duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                   dolor sit amet.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
