<div class="row">
    <div class="large-12 columns">
        <h1><%= t(:new_template_pack) %></h1>
        <%= simple_form_for(@template_pack, html: { :multipart => true }) do |f| %>
          <%= f.error_notification %>
          <div class="row">
            <div class="large-12 columns">
                <label>
                  <%= f.file_field :zip_container %>
                </label>
            </div>

          </div>
          <%= f.button :submit, class: "primary-btn" %>
        <% end %>
    </div>
</div>
