<%= simple_form_for(@document_submission) do |f| %>
  <%= f.error_notification %>

  <% if @document_submission.template.textual_description.present? %>
    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <p><%= raw RedCloth.new(@document_submission.template.textual_description).to_html %></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :template_id, as: :hidden %>
  </div>
  <div class="row">
    <div class="large-3 columns">
      <ul class="side-nav">
        <%= f.fields_for :submitted_template_fields do |submitted_template_fields_form| %>
          <li><a href="#<%= submitted_template_fields_form.object.template_field.id %>"><%= submitted_template_fields_form.object.to_form_label %></a></li>
        <% end %>
      </ul>
    </div>
    <div class="large-9 columns">
      <%= f.fields_for :submitted_template_fields do |submitted_template_fields_form| %>
        <%= render submitted_template_fields_form.object.template_field.presentation, submitted_template_fields_form: submitted_template_fields_form %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="form-actions right">
        <%= f.button :submit, t(:generate_document), class: "secondary-btn" %>
      </div>
    </div>
  </div>
<% end %>
