<%= simple_form_for(@document_submission) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :template_id, as: :hidden %>
  </div>

  <%= f.fields_for :submitted_template_fields do |submitted_template_fields_form| %>
    <%= render submitted_template_fields_form.object.template_field.presentation, submitted_template_fields_form: submitted_template_fields_form %>
  <% end %>

  <%= render 'radio_buttons' %>
  <%= render 'checkbox' %>
  <%= render 'dropdown' %>

  <div class="form-actions">
    <%= f.button :submit, class: "success button" %>
  </div>
<% end %>
