<%# add navigation links to this file %>
<li class="divider"></li>
<li class="new-template <%= current_url('/templates') %>"><%= link_to "Templates", templates_path -%></li>
<li class="divider"></li>
<li class="<%= current_url('/document_submissions') %>"><%= link_to t(:history), document_submissions_path %></li>
<li class="divider"></li>
<li class="<%= current_url('/documentation') %>"><%= link_to t(:documentation), documentation_url %></li>
