<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Indoctrinatr" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Indoctrinatr" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href='//fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>

    <!-- Header and Nav -->
    <%= render 'layouts/header' %>

    <!-- End Header and Nav -->
    <%= render 'layouts/messages' %>

    <!-- Main Grid Section -->
    <%= yield %>

    <!-- Footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>
